/** {border: 1px solid red; }*/
.container-fluid {
	width: 100%;
}
#jQuery, #bsForm, #bsTable, #events {
	margin-top: 125px; 
}
.clickMe{font-style: italic;}
.api {
	border: 2px solid lightgrey;
	border-radius: 1.5rem; 
	text-align: center;
	height: 20rem; 
}
.btn-primary {
	width: 100%;
	margin: 2rem auto; 
}
.dance {
	width: 15%;
	margin-top: 1rem; 

}
/*button {
	float: right;
	margin: 80% 10% 10% 80%;
}*/
.horse {
	width: 30%;
	margin-top: 1rem; 
}
#in, #out, #up, #down {
	display: block;
	float: left; 
	margin: 1px 5px 5px 5px;
	text-align: center;
	width: 50px; 
	height: 50px;
	border-radius: 45px;
	clear: both;
}
/*#up, #down {
	display: block;
	float: left; 
	margin: 5px;
	text-align: center;
	width: 50px; 
	height: 50px;
	border-radius: 45px;
	clear: both;
}*/
.up, .down {
	width: 35%;
	margin-top: 5px;
}
.ham {
	font-weight: 600;
	color: green; 
}
.bacBox{
	width: 35%; 
	height: 125px; 
	padding: 0 auto;
	display: inline-block;
	vertical-align: top;
}
.baco {
	width: 45%;
	text-align: justify;
	display: inline-block;
	vertical-align: top;
}
#ham, #bacon {
	width: 55%;
	margin: 5px;  
}
.pig {
	color: red;
	font-weight: 900; 
}
.round {
	width: 100px; 
	height: 100px; 
	border-radius: 55px;
	margin-top: 1rem; 
	background-color: blue; 
	display: inline-block;
	vertical-align: top; 
}
.question, .answer {
	width: 45%; 
	text-align: left; 	
	display: inline-block;
	vertical-align: top;  
}
/*.magic {
	font-size: 2rem;
}*/



